# fly.toml app configuration file generated for quotiva-frontend on 2025-11-24T12:36:47+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'quotiva-frontend'
primary_region = 'fra'

[build]
  secrets = ["NEXT_PUBLIC_API_URL"]

[env]
  NEXT_PUBLIC_API_URL = "https://quotiva-backend.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
